/* Header */
.vs-team {
  margin-block: 10px;
  font-size: 10px;
  background-color: black;
  border-radius: 30px;
  padding: 3px;
  color: white;
  width: 95%;
  margin-inline: auto;
}
.vs-sec-heading {
  background: linear-gradient(to bottom, #fff 0, #bce8f1 100%);
  padding: 10px 5px 5px;
}

.vs-sec-heading h5 {
  font-size: 13px;
  margin-bottom: 0px;
  font-weight: 700;
}

.left-team-score img,
.right-team-score img {
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

.left-team-score .vs-img,
.right-team-score .vs-img {
  background-color: white;
  border-radius: 50px;
  box-shadow: inset 1px 2px 16px whitesmoke;
}

.left-team-score h5,
.right-team-score h5 {
  margin-bottom: 0px;
}


.zoom-6 {
  animation: zoomInOut 2s infinite !important;
  font-size: 15px;
  text-wrap: nowrap;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2); 
  }
  100% {
    transform: scale(1); 
  }
}

.middle-score > p {
  font-size: 23px;
  background: #d3d3d3;
  overflow: hidden;
  text-align: center;
  border-radius: 30px;
  box-shadow: inset 5px 5px 15px whitesmoke;
  color: black;
  padding: 10px 3px;
  width: 180px;
  margin: auto;
}

@media (max-width: 575px) {
  .vs-team {
    margin-top: 10px;
    border-radius: 15px;
    padding: 2px;
    width: 98%;
  }

  .vs-sec-heading {
    padding: 8px 4px 4px;
  }

  /* .vs-sec-heading h5 {
            font-size: px;
        } */
  .team_name_6 {
    font-size: 10px;
    font-size: 12px;
    font-weight: 900;
  }

  .team_score_6 {
    font-size: 12px;
    font-weight: 900;
    display: flex;
    flex-direction: column;
  }

  .left-team-score img,
  .right-team-score img {
    border-radius: 25px;
    width: 30px;
    height: 30px;
  }

  .left-team-score .vs-img,
  .right-team-score .vs-img {
    border-radius: 25px;
    box-shadow: inset 1px 1px 10px whitesmoke;
  }

  .middle-score > p {
    font-size: 12px;
    font-weight: 700;
    overflow: hidden;
    padding: 7px 2px;
    width: 80px;
  }
}
.opentabbox{
  border-radius: 20px;
  width: 95%;
  padding: 2px;
  margin-inline: auto;
  background-color: black;
}

.small-score-details {
  align-items: center;
  border-radius: 20px;
  overflow: hidden;

  width: 95%;
  min-height: 35px;
  padding: 2px;

  top: 3px;
  margin-inline: auto;
  background-color: black;
}

.details-center,
.more-tab {
  width: 33.33%;
  z-index: 1;
}

.current-over {
  overflow: scroll;
  width: 100% !important;
}

.balls {
  display: flex;
  margin: 1px 0 0 4px;
  padding-left: 0;
}

.ball-container {
  display: block;
  width: 100% !important;
}

.ball {
  align-items: center;
  background-color: #fff;
  border-radius: 30px;
  color: black;
  display: flex;
  font-size: 7px;
  font-weight: 600;
  height: 16px;
  justify-content: center;
  line-height: 27px;
  margin: 1px 3px;
  min-width: 16px;
  padding: 1px 4px;
  text-align: center;
}

.w-20,
.w-60,
.w-100 {
  width: 20%;
  width: 60%;
  width: 100%;
}

.run-rates {
  padding-bottom: 1px;
  font-size: 15px;
}

.run-rate {
  color: rgb(255, 255, 255);
}

.down-arrow {
  cursor: pointer;
  height: 45px;
}
.mobile-run-need {
  font-size: 12px;
  text-align: center;
  color: white;
}
.down-arrow {
  border: none;
  border-radius: 50%;
  color: #000;
  display: block;
  height: 16px;
  left: 2px;
  line-height: 0.3;
  margin: auto;
  position: relative;
  top: -16px;
  width: 100px;
}

.mobile-tab {
  display: none;
}

@media (max-width: 575px) {
  .mobile-tab {
    display: flex;
  }
  .details-left {
    width: 100%;
  }
  .table6 {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    width: 100%;
  }
  .table6 {
    width: 100%; /* Ensures the table takes up 100% of its container's width */
    border-collapse: collapse; /* Optional: Collapses table borders */
  }

  .table6 .center-align {
    text-align: center; /* Centers content in all cells with class 'center-align' */
  }

  .table6 .align-left {
    text-align: left; /* Aligns text to the left in cells with class 'align-left' */
  }

  .table6 .player {
    white-space: nowrap; /* Prevents player names from wrapping */
  }
}

.scoretabDesktop {
  display: none;
}

@media (min-width: 575px) {
  .scoretabDesktop {
    display: block;
    position: relative;
    background-color: #000;
    width: 95%;
    margin-top: 20px;
    margin-inline: auto;
    border-radius: 20px;
    padding: 5px;
  }
  .upArrowSpace {
    display: inline-block;
    position: absolute;
    top: -18px;
    left: 50%;
  }
  .up-Arrow {
    display: inline-block;
  }
  .over-details6 {
    background: #d3d3d3;
    border-radius: 15px;
    box-shadow: inset 5px 5px 15px #7a7a7a;
    min-height: 51px;
    padding: 5px 0;
  }
}


.current-over{
  overflow: hidden;
}

.scoretabMobile{
  background-color: #000;
  width: 98%;
  margin-top: 18px;
  margin-inline: auto;
  border-radius: 20px;
}

.over-container6-d{
  flex-wrap: wrap;
}