.scorecard {
    width: calc(100%);
    padding: 5px;
    background-image: url(../assets/scorecard-bg.png);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    z-index: 1;
    overflow: hidden;
}
.scorecard::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.55);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.teamScore {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.teamName {
  flex: 1;
  font-weight: bold;
}

.score {
  flex: 2;
  text-align: right;
}

.crr {
  flex: 1;
  text-align: left;
  font-size: 0.9em;
  color: #ffffff;
  padding-left: 5px;
}

.ballByBall {
  display: flex;
  gap: 8px;
}

.ballRun {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    width: 25px;
    border-radius: 50%;
    font-size: var(--font-small);
    background-color: #08c;
    color: #fff;
    text-align: center;
    margin-right: 4px;
}



.four {
 background-color: #087f23;
  color: white;
}

.six {
    background-color: #883997;
  color: white;
}
.wicket {
    background-color : #ff0000;
}

@media only screen and (max-width: 767px) {
    .ballRun {
        font-size: 12px;
    }
}
