.scorecard {
    width: 100%;
    height: 139px;
    padding: 3px;
    background-image: url('../../../public/match-bg-9.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    z-index: 1; 
}

.scorecard::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.78);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}
.teamResult {
  width: 100%;
  display: inline-block;
}

.teamResult ul {
  padding: 0;
  margin: 0;
}

.teamResult li {
  padding: 0;
  margin: 0;
  float: left;
  list-style: none;
}

.team45 {
  width: 45%;
}

.team55 {
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inplyTeam {
  font-weight: 600;
  font-size: 14px;
  color: #af683b;
  width: 100%;
  line-height: 22px;
  height: 45px;
}

.lSpan {
  display: inline-block;
  width: 100%;
  padding-top: 0;
  font-size: 10px;
  color: #ff934d;
  font-weight: bold;
  line-height: 15px;
}

.sSpan {
  display: inline-block;
  width: 100%;
  padding-top: 2px;
  font-size: 16px;
  color: #ff934d;
  font-weight: bold;
}

.runRate {
  height: 32px;
  width: 100%;
  border-top: 1px solid #686868;
  border-bottom: 1px solid #686868;
  display: flex;
  padding: 0;
  margin: 0 0 3px;
  align-items: center;
  padding-bottom: 3px;
}

.runRate .teamNameS {
  font-size: 13px;
}

.runLeft {
  width: 50%;
  float: left;
}

.runRight {
  width: 60%;
  float: left;
  position: relative;
}

.teamNameS {
  display: block;
  width: 100%;
  font-size: 14px;
  color: #ff934d;
}

.ballByBall {
display: flex;
justify-items: center;
flex-wrap: nowrap;
align-items: center;
overflow-x: auto;
}

.ballRuns {
  background: #3d5c6d;
  height: 20px;
  width: 20px;
  min-width: 20px;
  border-radius: 50%;
  display: inline-block;
  line-height: 20px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  margin-left: 5px;
  font-size: 10px;
}

.four {
  background: #087F23;
}

.six {
  background: #883997;
}

.wicket {
  background: #b31515;
}

.wide {
  background: #c0d314;
}

.dot {
  /* No additional styles needed for dot */
}

.matchResult {
  background: #3467a5b8;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  padding: 3px !important;
  color: #f7f7f7;
  font-size: 10px;
  text-align: center;
}

.alertMessage {
  background-color: transparent;
  margin: 0 0 2px 0;
  padding: 0;
  width: 100%;
}

.marquee {
  padding: 0;
  margin: 0;
  color: white;
  text-transform: uppercase;
}

.noGutters {
  margin-right: 0;
  margin-left: 0;
}

.noGutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.col {
  padding-right: 0;
  padding-left: 0;
}

.textWhite {
  color: white;
}

.badgeDanger {
  background-color: #dc3545;
}