.iframe_16_content{
    padding: 0;
    background: linear-gradient(0deg, rgb(0 0 0 / 39%), rgb(0 0 0 / 30%));
    background-image: url('../../../public/desktop.webp');
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
    color: white;
    height: 168px !important;
    align-items: center;
    display: grid;
    background-position: bottom;
    position: relative;
}

.iframe_16_content::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3); 
    z-index: 1;
}

.iframe_16_content > * {
    position: relative;
    z-index: 2;
}
/* .sc_cw-table-structure-desktop svg{
    width: 20px;
    height: 20px;
} */
.sc_cw-container-main{
}
.sc_cw-row-ctm{
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px;
    width: 100%;
}
.sc_cw-batsman_svg img{
    height: 100px;
}
.sc_cw-curr_inn{
    font-size: 12px;
    font-weight: 600;
}
.curr_inn_text{
    line-height: 1.2;
    font-weight: 600;
}
.sc_cw-match_status{
    border: 1px solid #fff !important;
    border-radius: 7px;
    padding: 5px;
    flex: 0 0 45%;
    max-width: 45%;
    text-align: center;
    font-size: 10px;
    letter-spacing: 0px;
}
.sc_cw-day{
    width: 100%;
    display: block;
    text-transform: capitalize;
    font-size: 10px;
}
.sc_cw-score-over{

}
.sc_cw-score-over ul li {
    display: inline-block;
    color: #fff;
}
.sc_cw-six-balls {
    padding: 2px;
    font-size: 17px;
    font-weight: 600 !important;
}
.sc_cw-score-over ul {
    padding: 0;
    margin: 0;
}
.sc_cw-target{
    font-style: italic;
}
.sc_cw-requiredRunRate{
    font-weight: 600;
    margin-top: 5px !important;
    font-size: 12px !important;
}
.sc_cw-batsman-container{
    text-transform: uppercase;
    display: flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0px;
    width: 100%;
    text-align: center !important;
    gap: 20%;
    font-size: 12px;
    font-weight: 600;
}
.sc_cw-team{
    flex: 0 0 10%;
    max-width: 10%;
    text-align: right;
    margin-right: 10px;
    line-height: 2;
}
.sc_cw-team2{
    text-align: left;
    margin-left: 10px;
    line-height: 2;
    flex: 0 0 10%;
    max-width: 10%;
}

@media( max-width: 576px) {
    .sc_cw-batsman_svg img{
        display: none;
    }
}